RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM="Dra. Jessica Barros <contato@drajessicabarrosgineco.com.br>"
RESEND_REPLY_TO=drajessicabarrosgineco@gmail.com
LEADMAGNET_NOTIFY_TO=drajessicabarrosgineco@gmail.com
CONTACT_NOTIFY_TO=drajessicabarrosgineco@gmail.com
